<#import "/spring.ftl" as spring />

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <meta name="theme-color" content="#563d7c">
    <link href="/css/signin.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail">Email address</label>
                    <input name="email" class="form-control" id="exampleInputEmail" placeholder="Enter email" required autofocus type="email">
                    <div class="container text-danger">
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword">Password</label>
                    <input name="password" class="form-control" id="exampleInputPassword" placeholder="Password" type="password">
                    <div class="container text-danger">
                    </div>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
                <a href="/registration">Or Sign UP</a>
            </form>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
</body>
</html>