<#import "/spring.ftl" as spring />

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
    <div class="container">
    </div>
</nav>

<main class="my-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">New user registration</div>
                    <div class="card-body">
                        <form action="/registration" method="post">
                            <div class="form-group row">
                                <label for="firstName" class="col-md-4 col-form-label text-md-right">Name</label>
                                <div class="col-md-6">
                                    <@spring.formInput "form.name" "class=\"form-control\" id=\"firstName\" placeholder=\"Enter your Name\" required autofocus" "name"/>
                                    <@spring.showErrors "<br>"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="surname" class="col-md-4 col-form-label text-md-right">Last Name</label>
                                <div class="col-md-6">
                                    <@spring.formInput "form.lastName" "class=\"form-control\" id=\"surname\" placeholder=\"Enter your last name\"" "lastName"/>
                                    <@spring.showErrors "<br>"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail
                                    Address</label>
                                <div class="col-md-6">
                                    <@spring.formInput "form.email" "class=\"form-control\" id=\"email_address\" placeholder=\"Enter email\"" "email"/>
                                    <@spring.showErrors "<br>"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <@spring.formInput "form.password" "class=\"form-control\" id=\"exampleInputPassword\" placeholder=\"Password\"" "password"/>
                                    <@spring.showErrors "<br>"/>
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Register
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>